.time {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: medium;
  font-size: 50px;
  text-align: center;
  line-height: 1em;
  color: #75d251;
}

.date {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: medium;
  font-size: 20px;
  text-align: center;
  line-height: 1em;
  color: #75d251;
}

select {
  display: flex;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  background-color: #333333;
  border: none;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;
}

option {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

footer {
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  padding: 5px;
  margin-bottom: 10px;
}

footer a {
  color: black;
}

.container {
  background-color: black;
  max-width: 800px;
  padding: 30px;
  margin: 10px auto;
  border: 10px solid #333333;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.01);
  color: white;
}

.title {
  font-family: "Inter", sans-serif;
  font-size: 44px;
  font-weight: 400;
  font-style: normal;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.city h2 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
  font-size: 44px;
  text-align: left;
}

.row {
  padding: 10px;
}

.digital-display {
  background-color: #333333;
  padding: 5px;
  box-shadow: inset gray 0px 0px 15px -2px;
}

@media (max-width: 960px) {
  .container {
    max-width: 90%;
    margin: 5px auto;
    padding: 15px;
  }

  .title {
    font-size: 30px;
  }
  .city h2 {
    font-size: 20px;
    padding-top: 15px;
  }

  .time {
    font-size: 25px;
  }

  .date {
    font-size: 10px;
  }

  .row {
    padding: 10px;
  }

  select {
    display: flex;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 12px;
  }
}
